<%= render partial: 'spree/shared/error_messages', locals: { target: @vendor } %>
<div data-hook="vendor_store_code_field" >
  <%= f.field_container :webpay_ws_mall_store_code, class: ['form-group'] do %>
    <%= f.label :webpay_ws_mall_store_code, Spree.t(:webpay_ws_mall_store_code) %>
    <%= f.text_field :webpay_ws_mall_store_code, class: 'form-control' %>
    <%= f.error_message_on :webpay_ws_mall_store_code %>
  <% end %>
</div>

<div data-hook="vendor_oneclick_store_code_field" >
  <%= f.field_container :webpay_oneclick_store_code, class: ['form-group'] do %>
    <%= f.label :webpay_oneclick_store_code, Spree.t(:webpay_oneclick_store_code) %>
    <%= f.text_field :webpay_oneclick_store_code, class: 'form-control' %>
    <%= f.error_message_on :webpay_oneclick_store_code %>
  <% end %>
</div>

<div class="form-group">
  <%= f.field_container :enable_bank_transfer do %>
    <%= f.label :enable_bank_transfer %>
    <%= f.check_box :enable_bank_transfer %>
  <% end %>
</div>

<div class="bank_transfer_fields <%= f.object.enable_bank_transfer ? '' : 'd-none' %>">
  <div class="form-group">
    <%= f.field_container :bank_transfer_url do %>
      <%= f.label :bank_transfer_url %>
      <%= f.text_field :bank_transfer_url, class: 'form-control' %>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.field_container :bank_transfer_login do %>
      <%= f.label :bank_transfer_login %>
      <%= f.text_field :bank_transfer_login, class: 'form-control' %>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.field_container :bank_transfer_password do %>
      <%= f.label :bank_transfer_password %>
      <%= f.password_field :bank_transfer_password, class: 'form-control' %>
    <% end %>
  </div>
</div>

<%= render partial: 'spree/admin/shared/vendor_admin_side_tabs', locals: { current: 'payments'} %>

