<%= render partial: 'spree/shared/error_messages', locals: { target: @vendor } %>
<% if @vendor.is_active? %>
  <div class="form-group">
    <%= f.field_container :import_options do %>
      <%= f.label :import_options %>
      <%= f.select :import_options, Spree::Vendor.import_options.keys.map{ |x| [x.titleize, x] }, {}, class: 'form-control' %>
    <% end %>
  </div>

  <div data-hook="product_import_methods">
    <div class="files <%= f.object.scrapinghub? ? 'd-none' : '' %>">
      <div class="form-group">
        <%= f.field_container :products_csv_url do %>
          <%= f.label :products_csv_url, Spree.t(:products_csv_url)%>
          <%= f.text_field :products_csv_url, class: 'form-control' %>
          <%= f.error_message_on :products_csv_url %>
        <% end %>
      </div>

      <% if @vendor.persisted? %>
        <div class="form-group">
          <% if @vendor.products_imported_at %>
            Products last synced at: <%= pretty_time(@vendor.products_imported_at) %>
          <% end %>
          <%= link_to Spree.t(:sync_now), import_csv_products_admin_products_path(vendor_id: @vendor.id, method_name: 'from_csv') , class: 'btn btn-success ml-2' if @vendor.products_csv_url.present? %>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.field_container :products_xml_url do %>
          <%= f.label :products_xml_url, Spree.t(:products_xml_url) %>
          <%= f.text_field :products_xml_url, class: 'form-control' %>
          <%= f.error_message_on :products_xml_url %>
        <% end %>
      </div>

      <% if @vendor.persisted? %>
        <div class="form-group">
          <% if @vendor.products_xml_imported_at %>
            Products last synced at: <%= pretty_time(@vendor.products_xml_imported_at) %>
          <% end %>
          <%= link_to Spree.t(:sync_now), import_csv_products_admin_products_path(vendor_id: @vendor.id, method_name: 'from_xml') , class: 'btn btn-success ml-2' if @vendor.products_xml_url.present? %>
        </div>
      <% end %>
    </div>

    <div class="scrapinghub <%= f.object.scrapinghub? ? '' : 'd-none' %>">
      <div class="form-group">
        <%= f.field_container :scrapinghub_api_key do %>
          <%= f.label :scrapinghub_api_key %>
          <%= f.text_field :scrapinghub_api_key, class: 'form-control' %>
        <% end %>
      </div>

      <div class="form-group">
        <%= f.field_container :scrapinghub_project_id do %>
          <%= f.label :scrapinghub_project_id %>
          <%= f.text_field :scrapinghub_project_id, class: 'form-control' %>
        <% end %>
      </div>

      <div class="form-group">
        <%= f.field_container :full_spider do %>
          <%= f.label :full_spider %>
          <%= f.text_field :full_spider, class: 'form-control' %>
        <% end %>
      </div>

      <div class="form-group">
        <%= f.field_container :update_all_product do %>
          <%= f.check_box :update_all_product %>
          <%= f.label :update_all_product, Spree.t(:update_all_products), class: 'form-check-label' %>
        <% end %>
      </div>

      <div class="form-group">
        <%= f.field_container :full_recurring_frequency do %>
          <%= f.label :full_spider_recurring_frequency %>
          <%= f.text_field :full_recurring_frequency, class: 'form-control' %>
        <% end %>
      </div>

      <% if @vendor.persisted? %>
        <div class="form-group">
          <%= link_to Spree.t(:sync_now), import_csv_products_admin_products_path(vendor_id: @vendor.id, method_name: 'from_full_scraping_hub') , class: 'btn btn-success ml-2' if @vendor.full_spider.present? %>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.field_container :quick_spider do %>
          <%= f.label :quick_spider %>
          <%= f.text_field :quick_spider, class: 'form-control' %>
        <% end %>
      </div>

      <div class="form-group">
        <%= f.field_container :quick_recurring_frequency do %>
          <%= f.label :quick_spider_recurring_frequency %>
          <%= f.text_field :quick_recurring_frequency, class: 'form-control' %>
        <% end %>
      </div>

      <% if @vendor.persisted? %>
        <div class="form-group">
          <%= link_to Spree.t(:sync_now), import_csv_products_admin_products_path(vendor_id: @vendor.id, method_name: 'from_quick_scraping_hub') , class: 'btn btn-success ml-2' if @vendor.quick_spider.present? %>
        </div>

        <div class="form-group">
          <% if @vendor.scrapinghub_imported_at %>
            Products last synced at: <%= pretty_time(@vendor.scrapinghub_imported_at) %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <% if @vendor.persisted? %>
    <div data-hook="vendor_import_store_ids_field" class="mb-2">
      <%= f.field_container :import_store_ids do %>
        <%= f.label :import_store_ids, Spree.t(:import_store_ids) %>
        <% Spree::Store.all.each do |store| %>
          <div class="form-check">
            <%= check_box_tag 'vendor[import_store_ids][]', store.id, @vendor.import_store_ids.include?(store.id.to_s), class: 'form-check-input store_ids' %>
            <%= label_tag store.name, nil, class: 'form-check-label' %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>
<%= render partial: 'spree/admin/shared/vendor_admin_side_tabs', locals: { current: 'product_import'} %>
