<div class="modal" id="enable_disable_product_modal_open">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"> <%= Spree.t(:products_update, scope: :product_management) %></h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <%= form_tag enable_disable_products_admin_products_path, method: :patch do %>
        <div class="modal-body">
          <div style="margin-top: 20px;">
            <label for="product_taxon_ids"><%= Spree.t(:select_option, scope: :product_management) %></label>
              <%= select_tag :selected_option, options_for_select([["Disable",0],["Enable",1]]), class: 'select2 form-control' %>
              <%= hidden_field_tag 'product_ids', params[:product_ids] %>
              <%= hidden_field_tag 'filter_params', params[:filter_params] %>
          </div>
        </div>
        <div class="modal-footer">
          <%= submit_tag 'Update', name: nil, class: 'btn btn-primary' %>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      <% end %>
    </div>
  </div>
</div>
