<% content_for :page_title do %>
  <%= plural_resource_name(Spree::Product) %>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:new_product), new_object_url, { class: "btn-success", icon: 'add.svg', id: 'admin_new_product' } %>
<% end if can?(:create, Spree::Product) %>

<% content_for :table_filter do %>
  <div data-hook="admin_products_sidebar">
    <%= search_form_for [:admin, @search] do |f| %>
      <%- locals = {f: f} %>
      <div data-hook="admin_products_index_search" class="row">
        <div class="col-12 col-lg-6 col-md-6">
          <div class="form-group">
            <%= f.label :name_cont, Spree.t(:name) %>
            <%= f.text_field :name_cont, size: 15, class: "form-control js-quick-search-target" %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :variants_including_master_sku_cont, Spree.t(:sku) %>
            <%= f.text_field :variants_including_master_sku_cont, size: 15, class: "form-control" %>
          </div>
        </div>
        <% if current_spree_user.respond_to?(:has_spree_role?) && current_spree_user.has_spree_role?(:admin) %>
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :vendor_name_cont, Spree.t(:vendor_name) %>
              <%= f.text_field :vendor_name_cont, class: "form-control" %>
            </div>
          </div>
        <% end %>
        <div class="col-md-6">
          <div class="form-group">
            <label><%= Spree.t(:shipping_category) %></label>
            <%= f.select :shipping_category_id_in, Spree::ShippingCategory.accessible_by(current_ability).pluck(:name, :id), {include_blank: true}, class: 'select2-clear', multiple: true %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label><%= Spree.t(:taxons) %></label>
            <%= f.select :taxons_id_in, options_from_collection_for_select(Spree::Taxon.all, :id, :pretty_name), {include_blank: true}, multiple: true, class: 'select2-clear' %>
          </div>
       </div>
        <div class="col-md-12">
          <div class="field checkbox">
            <label>
              <%= f.check_box :deleted_at_null, { checked: params[:q][:deleted_at_null] == '0' }, '0', '1' %>
              <%= Spree.t(:show_deleted) %>
            </label>
          </div>

          <div class="field checkbox">
            <label>
              <%= f.check_box :not_discontinued, { checked: params[:q][:not_discontinued] == '0' }, '0', '1' %>
              <%= Spree.t(:show_discontinued ) %>
            </label>
          </div>

          <div class="field checkbox">
            <label>
              <%= f.check_box :taxons_id_null, { checked: params[:q][:taxons_id_null] == '1' }, '1', '' %>
              <%= Spree.t(:products_without_categories) %>
            </label>
          </div>
          <div class="field checkbox">
            <label>
              <%= f.check_box :in_stock, { checked: params[:q][:in_stock] == '1' }, '1', '' %>
              <%= Spree.t(:show_only_products_with_stock) %>
            </label>
          </div>
        </div>
      </div>
      <div data-hook="admin_products_index_search_buttons" class="form-actions">
        <%= button Spree.t(:search), 'search' %>
      </div>
    <% end %>

  </div>
<% end %>

<div class='py-3 text-right'>
  <%= hidden_field_tag 'current_filter_params', params[:q].to_json %>
    <% if @collection.any? %>
      <%= link_to Spree.t(:enable_disable_products, scope: :product_management), enable_disable_products_modal_admin_products_path , remote: true, data: { href:enable_disable_products_modal_admin_products_path }, id: 'disable-enable-product-btn', class: 'btn btn-info disable-enable-all-product' %>
      <%= link_to Spree.t(:update_shipping_category, scope: :product_management), update_shipping_category_modal_admin_products_path , remote: true, data: { href: update_shipping_category_modal_admin_products_path }, id: 'update-shipping-categories-btn', class: 'btn btn-info update-all-shipping-categories' %>
    <% end %>
  <%= link_to 'Update Categories', update_categories_modal_admin_products_path , remote: true, data: {href: update_categories_modal_admin_products_path},id: 'update-categories-btn', class: 'btn btn-primary ' %>
</div>

<%= render partial: 'spree/admin/shared/index_table_options', locals: { collection: @collection } %>

<% if @collection.any? %>
  <div class="table-responsive">
    <table class="table" id="listing_products">
      <thead>
        <tr data-hook="admin_products_index_headers">
          <th class="inline">
            <div class="p-1 bg-info mb-1 rounded">
              <%= check_box_tag 'select-all', nil %>
            </div>
            <div class="p-1 bg-danger rounded">
              <%= check_box_tag 'select-all-products' %>
            </div>
          </th>
          <th scope="col"><%= Spree.t(:sku) %></th>
          <th scope="col"><%= Spree.t(:status) %></th>

          <th scope="col" colspan="2"><%= sort_link @search,:name, Spree.t(:name), { default_order: "desc" }, { title: 'admin_products_listing_name_title' } %></th>
          <th scope="col" class="text-center">
            <%= sort_link @search, :master_default_price_amount, Spree.t(:master_price), {}, { title: 'admin_products_listing_price_title' } %>
          </th>
          <% if current_spree_user.respond_to?(:has_spree_role?) && current_spree_user.has_spree_role?(:admin) %>
            <th scope="col"><%= Spree.t(:vendor_name) %>
          <% end %>

          <th scope="col" data-hook="admin_products_index_header_actions" class="actions"></th>
        </tr>
      </thead>
      <tbody>
        <% @collection.each do |product| %>
          <% available_status = available_status(product) %>
            <tr <%== "style='color: red;'" if product.deleted? %> id="<%= spree_dom_id product %>" data-hook="admin_products_index_rows" class="<%= cycle('odd', 'even') %>">
              <td>
                <%= check_box_tag 'product_id', product.id, nil , class: 'product-select' %>
              </td>
              <td class="sku"><%= product.sku rescue '' %></td>
              <td class="status"><%= active_badge(available_status == Spree.t(:available), label: available_status) %></td>
              <td class="image"><%= mini_image product %></td>
              <td><%= link_to product.try(:name), edit_admin_product_path(product) %></td>
              <td class="text-center"><%= product.display_price.to_html rescue '' %></td>
              <% if current_spree_user.respond_to?(:has_spree_role?) && current_spree_user.has_spree_role?(:admin) %>
                <td><%= product.vendor.try(:name) %>
              <% end %>
              <td class="actions actions-3 text-right" data-hook="admin_products_index_row_actions">
                <%= link_to_edit product, no_text: true, class: 'edit' if can?(:edit, product) && !product.deleted? %>
                <%= link_to_clone product, no_text: true, class: 'clone' if can?(:clone, product) %>
                <%= link_to_delete product, no_text: true if can?(:delete, product) && !product.deleted? %>
              </td>
            </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <div class="alert alert-info no-objects-found">
    <%= Spree.t(:no_resource_found, resource: plural_resource_name(Spree::Product)) %>,
    <%= link_to Spree.t(:add_one), new_object_url if can?(:create, Spree::Product) %>!
  </div>
<% end %>

<%= render partial: 'spree/admin/shared/index_table_options', locals: { collection: @collection } %>

<%= javascript_tag do %>
  $(document).ready(function(){
    $('#update-categories-btn').click(function(){
      var product_ids = $.map($('.product-select:checked'), function(t){return t.value; });
      if(product_ids.length){
        this.href = this.getAttribute('data-href') + '?product_ids=' + product_ids
      } else {
        alert('Please select products first.');
        return false;
      }
    })
  });
<% end %>
