<div class="form-group" data-hook="moova_google_place_id_field">
  <%= f.label :google_place_id, Spree.t(:google_place_id) %>
  <%= f.text_field :google_place_id, class: 'form-control' %>
</div>

<div class="form-group" data-hook="moova_latitude_field">
  <%= f.label :latitude, Spree.t(:latitude) %>
  <%= f.text_field :latitude, class: 'form-control' %>
</div>

<div class="form-group" data-hook="moova_longitude_field">
  <%= f.label :longitude, Spree.t(:longitude) %>
  <%= f.text_field :longitude, class: 'form-control' %>
</div>
