<% if try_spree_current_user %>
  <%= link_to Spree.t('nav_bar.my_account'), spree.account_path, class: 'dropdown-item' if spree.respond_to?(:account_path) %>
  <%= link_to Spree.t('nav_bar.dashboard'), admin_path, class: 'dropdown-item' if spree_current_user.admin? || spree_current_user.vendor? || spree_current_user.has_spree_role?(:store_admin) %>
  <%= link_to Spree.t('nav_bar.log_out'), spree_logout_path, class: 'dropdown-item', method: :get if defined?(spree_logout_path) %>
<% else %>
  <form method="get" action="/saml/sign_in">
	  <button id="account-button" type="submit" class="dropdown-item text-center"><%= Spree.t('nav_bar.log_in') %></button>
	</form>
	<form method="get" action="/saml/sign_in">
	  <button id="account-button" type="submit" class="dropdown-item text-center"><%= Spree.t('nav_bar.sign_up') %></button>
	</form>
<% end %>
